@media screen and (min-width: 992px) {
	.navbar-expand-lg .navbar-nav .nav-link {
	    padding-right: .8rem;
	    padding-left: .8rem;
	    padding-top: 6px;
	    padding-bottom: 6px;
	}
	.navbar-expand-lg .language-wpml {
		-webkit-order: 2;
		-moz-order: 2;
		-ms-order: 2;
		-o-order: 2;
		order: 2;
	}
}

@media screen and (max-width: 1600px){

}

@media screen and (max-width: 1300px){

}

@media screen and (max-width: 1199px){
	body{
		font-size: 13px;
	}
	.btn{
		font-size: 13px;
	}
}
@media screen and (max-width: 1070px){
	.navbar-brand img{
		max-width: 150px;
	}
	.navbar-nav li.nav-item:last-child a{
		margin-left: 0;
	}
	.language-wpml img.world-ASD {
	    max-width: 54px;
	    margin-right: 5px;
	}
	.navbar-expand-lg .navbar-nav .nav-link {
	    padding-right: 0.6rem;
	    padding-left: 0.6rem;
	}
	.content-offset {
	    padding: 45px 0px;
	}
	.box_info {
    	padding: 1.8em 1em;
    }
    footer{
    	padding: 2em 0;
    }
}

@media screen and (max-width: 991px){
	p, li{
		font-size: 13px;
	}
	.navbar-expand-lg {
	    padding-left: 1rem;
	    padding-right: 1rem;
	}
	.language-wpml{
		margin-left: auto;
		margin-right: 15px;
	}
	.world-map h2{
		font-size: 1.76em;
		width: 200px;
	}
	.copy_right a, .copy_right p{
		font-size: 10.5px;
	}
	.w100p .flag-list li, .w20p{
		width: 25%;
	}
	.flag-list li{
		font-size: 13px;
	}
	.detail-information p, .detail-information{
		font-size: 12px;
	}
}

@media screen and (max-width: 767px){
	.mt-5, .my-5 {
	    margin-top: 1.5rem!important;
	}
	.pt-4, .py-4 {
	    padding-top: 0.8rem!important;
	}
	.mt-4, .my-4 {
	    margin-top: 0.8rem!important;
	}
	.world-map .row {
	    margin-top: -12%;
	}
	.box_outer{
		max-width: 320px;
		margin: 0 auto 30px;
	}
	.image{
		margin-top: 25px;
	}
	.col-md-3 h2{
		text-align: center;
		margin-top: 2.6em;
	}
	.copy_right{
		margin-top: 22px;
		text-align: center;
	}
	.copy_right a, .copy_right p{
		font-size: 12px;
	}
	.w100p .flag-list li, .w20p{
		width: 33%;
	}
	.team li{
		width: 33.33%;
	}
	.detail-information{
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
	}
	.detail-information p, .detail-information{
		font-size: 14px;
	}
}

@media screen and (max-width: 575px){
	.btn{
		font-size: 14px;
	}
	.logo img{
		max-width: 150px;
	}
	.text-title h2{
		margin-bottom: 0.75em;
	}
	.content-offset {
	    padding: 30px 0px;
	}
	.world-map h3{
		font-size: 1.6em;
	}
	.world_map{
		margin-top: -2em;
	}
	.text-title h2{
		font-size: 1.6em;
	}
	.form_area{
		margin-top: 4em;
	}
	.ms-login{
		width: 100%; 
		margin-bottom: 12px;
		text-align: left;
	}
	.ms-login .btn{
		font-size: 12px;
		padding: 5px 8px;
	}
	.rules{
		padding-left: 75px;
	}
	.person-info{
		font-size: 12px;
	}
	.mb-detail{
		margin-bottom: 32px;
	}
	.embed-responsive-16by9::before {
	    padding-top: 0;
	    height: 590px;
	}
}

@media screen and (max-width: 479px){
	body{
		font-size: 13px;
	}
	.navbar-brand img{
		max-width: 100px;
	}
	.language-wpml img.world-ASD{
		max-width: 40px;
	}
	.language-choose select{
		width: 60px;
		font-size: 0.8em;
	}
	.language-choose p{
		font-size: 12px;
	}
	.language-wpml{
		margin-right: 0;
	}
	.navbar-toggler{
		padding-right: 0;
	}
	.world-map h4{
		margin-top: 8px;
	}
	.flag-list li{
		font-size: 12px;
	}
	.w100p .flag-list li{
		width: 50%;
	}
	.w20p{
		width: 100%;
	}
	.team li{
		width: 50%;
	}
	.team li{
		min-height: 250px;
	}
	.project-group figure{
		width: 48%;
	}
	.breadcrumb-item{
		font-size: 9px;
	}
	.selfies_section .row:last-child .col-sm-12{
		padding: 0;
	}
}