$font-family-1: 'Open Sans', sans-serif
$font-family-2: 'Montserrat', sans-serif

$font-color: #575756
$color-primary: #80C3BF
$color-secondary: #172541
$color-light-grey: #F0F1F1
$color-grey: #A2ADC1
$color-blue-grey: #455F80