.page-template-tmp-blocks
    header
        float: none
    .blocks
        color: $font-color
        .section--bg
            color: #fff
        p
            margin-bottom: 0
.site-content
    padding-top: 103px
.dot_bg
    width: 25px
    min-width: 25px
    // +max-screen($breakpoint-md)
    //     display: none

.static
    position: static
.container
    +min-screen(1620px)
        max-width: 1320px