.page-template-tmp-blocks
    header
        float: none
    .blocks
        color: $font-color
        .section--bg
            color: #fff
        p
            margin-bottom: 0
.site-content
    padding-top: 103px
.dot_bg
    width: 25px
    min-width: 25px
    background-size: cover
    // +max-screen($breakpoint-md)
    //     display: none

.static
    position: static
.container
    +min-screen(1620px)
        max-width: 1320px
.published__date
    font-family: $font-family-1
    font-size: 14px
    color: $font-color
    font-weight: 700
    padding: 20px 0
    text-align: center
    background-color: white
    span
        display: inline-block
        margin-left: 10px