.font
    &-family
        &-base
            font-family: $font-family-1
        &-secondary
            font-family: $font-family-2
    &-w
        &-400
            font-weight: 400
        &-600
            font-weight: 600
        &-700
            font-weight: 700