.comorbidities
    &__icon-blocks
        display: flex
        flex-wrap: wrap
        margin: -19px
        padding-top: 30px
        &__item
            padding: 19px
            width: 33.333%
            &__inner
                border-radius: 8px
                padding: 20px 25px
                position: relative
                overflow: hidden
            &__img
                position: absolute
                right: 0
                bottom: 0
                width: 35%
                height: auto
                transform: translate3d(20%,30%,0)
            &__text
                span
                    display: block
    &__stat-table
        display: flex
        flex-wrap: wrap
        margin: 0 -50px
        padding-top: 30px
        &__col
            padding: 0 50px
            width: 50%
        &__list

        &__item
            display: flex
            justify-content: space-between
            padding: 16px 0
            border-bottom:  1px solid #DDE0E5
            letter-spacing: 0.2px
            &:nth-last-child(1)
                border-bottom: 0
    &__chart
        padding-top: 65px
        img
            width: 100%
            height: auto