.diagnosis
    padding-bottom: 0
    &__stat
        position: relative
        display: flex
        justify-content: flex-end
        +max-screen($breakpoint-md)
            flex-wrap: wrap
        &__content
            display: flex
            position: absolute
            top: 0
            left: 0
            +max-screen($breakpoint-md)
                position: relative
                width: 100%
            .dot_bg
                height: 130px
        &__text
            width: 100%
            max-width: 180px
            margin-left: 20px
        &__bubbles
            width: 100%
            padding-bottom: 52%
            position: relative
            max-width: 100%
            +max-screen($breakpoint-sm)
                padding-bottom: 75%
            &__wrapper
                width: 100%
            &__main
                position: absolute
                width: 48%
                padding-bottom: 48%
                top: 4%
                left: 29%

                border-radius: 50%
                border: 1px solid transparentize(#DDE0E5, 0.5)
                +max-screen($breakpoint-sm)
                    width: 60%
                    padding-bottom: 60%
                    top: 8%
                    left: 20%
                &__inner
                    position: absolute
                    width: 100%
                    height: 100%

                    background: $color-primary
                    border-radius: 50%
                    border: 10px solid $color-secondary
                    .diagnosis__stat__bubbles--active &
                        opacity: 0.3
                &__img
                    position: absolute
                    width: 82%
                    height: auto
                    left: 9%
                    top: 7%
                &__text
                    position: absolute
                    top: 50%
                    left: 50%
                    width: 70%
                    transform: translate3d(-50%,-50%,0)
                    color: $color-secondary
                    text-align: center
                    +max-screen($breakpoint-md)
                        font-size: 14px
                    span
                        font-size: 80px
                        line-height: 1em
                        display: block
                        +max-screen($breakpoint-md)
                            font-size: 40px
                &__notice
                    position: absolute
                    top: 100%
                    left: 0
                    width: 100%
                    text-align: center
                    margin-top: 20px
                    opacity: 0.6
                .diagnosis__stat__bubble__content
                    position: absolute
                    width: 68%
                    height: 68%
                    top: 16%
                    left: 16%
                    background: #fff
                    border-radius: 50%
                    opacity: 0
                    left: 200%
                    transition: left 0s linear 0.3s, opacity 0.3s ease-out 0s
                    &.active
                        opacity: 1
                        left: 16%
                        transition: left 0s linear 0s, opacity 0.3s ease-out 0s
        &__bubble
            position: absolute
            background: transparentize(#455F80, 0.7)
            border-radius: 50%
            width: 12%
            padding-bottom: 12%
            cursor: pointer
            &:hover,&.active
                &:before
                    opacity: 1
            .diagnosis__stat__bubbles--active &
                opacity: 0.3
            &.active
                opacity: 1
                .diagnosis__stat__bubble__line, &:before
                    opacity: 1
            &-1
                left: 0
                top: 65%
                .diagnosis__stat__bubble__line
                    top: 72%
                    left: 50%
                    width: 398%
            &-2
                left: 13.3%
                top: 50%
                width: 13%
                padding-bottom: 13%
                .diagnosis__stat__bubble__line
                    top: 0%
                    left: 108%
                    width: 76%
            &-3
                left: 20%
                top: 65%
                width: 17%
                padding-bottom: 17%
                .diagnosis__stat__bubble__line
                    bottom: 103%
                    top: auto
                    left: 50%
                    width: 51%
            &-4
                left: 69%
                top: 0%
                width: 19%
                padding-bottom: 19%
                .diagnosis__stat__bubble__line
                    top: 40%
                    left: -85%
                    width: 81%
            &-5
                left: 90%
                top: 18.5%
                width: 8.5%
                padding-bottom: 8.5%
                .diagnosis__stat__bubble__line
                    top: 50%
                    left: -250%
                    width: 237%
            &-6
                left: 73%
                top: 46%
                width: 27%
                padding-bottom: 27%
                .diagnosis__stat__bubble__line
                    top: 67.5%
                    left: -76%
                    width: 125%

            &:before
                content: ''
                position: absolute

                left: -10px
                top: -10px
                width: calc(100% + 20px)
                height: calc(100% + 20px)
                border: 1px solid #fff
                border-radius: 50%
                opacity: 0
                transition: 0.3s
            &__inner
                //position: absolute
            &__text
                position: absolute
                top: 50%
                left: 50%
                transform: translate3d(-50%,-50%,0)
                font-weight: 700
                font-size: 16px
                +max-screen($breakpoint-md)
                    font-size: 12px
            &__line
                position: absolute
                top: 0
                left: 50%
                opacity: 0
                transition: 0.3s
                +max-screen($breakpoint-md)
                    display: none
                svg
                    width: 100%
                    height: auto
                .bubble-line
                    stroke-dasharray: 500,500
                    stroke-dashoffset: 500
                    transition: 0.7s
            &.active .bubble-line
                stroke-dashoffset: 0
            &__content
                &__inner
                    p
                        
                    .diagnosis__stat__bubble__item
                        &__txt
                            color: $color-secondary
                            position: absolute
                            top: 50%
                            left: 50%
                            transform: translate3d(-50%,-50%,0)
                            display: flex
                            flex-direction: column
                            align-items: center
                        &__title
                            font-size: 48px
                            line-height: 0.66em
                            +max-screen($breakpoint-sm)
                                font-size: 26px
                            &__percent
                                font-size: 24px
                                line-height: 32px
                                font-weight: 400
                                +max-screen($breakpoint-sm)
                                    font-size: 14px
                                    line-height: 1.1em
                        &__subtext
                            opacity: 0.5
                            +max-screen($breakpoint-sm)
                                font-size: 12px
                        &__text
                            padding-top: 5px
                            +max-screen($breakpoint-sm)
                                font-size: 12px

    &__content
        margin-top: 35px
        position: relative

    &__map
        position: relative
        +max-screen($breakpoint-sm)
            padding-bottom: 80px
        .subtitle
            max-width: 60%
            +max-screen($breakpoint-md)
                max-width: 100%
        &__img
            width: 100%
            height: auto
            .country
                fill: #253654!important
                &.active
                    fill: $color-primary!important
        &__block
            position: relative
        &__wrapper
            position: relative
        &__points
        &__point
            width: 20px
            height: 20px
            background: #FFFFFF
            border-radius: 50%
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
            border-radius: 50%
            position: absolute
            transform: translate3d(-50%,-50%,0)
            cursor: pointer
            transition: 0.3s
            &:before
                content: ''
                position: absolute
                width: 20px
                height: 20px
                background: transparentize(#FFFFFF, 0.8)
                border-radius: 50%
                top: 0
                left: 0
                //transform: translate3d(-50%,-50%,0)
                animation: pulse-white 2s infinite
            &:hover
                //transform: translate3d(-50%,-50%,0) scale(1.1)
            svg
                position: absolute
                bottom: 50%
                right: 50%
                pointer-events: none
                +max-screen($breakpoint-md)
                    display: none
            &--sweden
                top: 19%
                left: 52%
                svg
                    top: 50%
                    right: 8px
                    bottom: auto
                path
                    stroke-dasharray: 490,490
                    stroke-dashoffset: -490
                    transition: 0.7s
                &.active path
                        stroke-dashoffset: 0
            &--norway
                left: 36%
                top: 33%
                path
                    stroke-dasharray: 180,180
                    stroke-dashoffset: 175
                    transition: 0.7s
                &.active path
                        stroke-dashoffset: 0
            &--germany
                left: 37%
                top: 61%
                path
                    stroke-dasharray: 350,350
                    stroke-dashoffset: -350
                    transition: 0.7s
                &.active path
                        stroke-dashoffset: 0
            &--belgium
                left: 28%
                top: 62%
                path
                    stroke-dasharray: 490,490
                    stroke-dashoffset: -490
                    transition: 0.7s
                &.active path
                        stroke-dashoffset: 0
            &--switzerland
                left: 34%
                top: 71%
                path
                    stroke-dasharray: 490,490
                    stroke-dashoffset: -490
                    transition: 0.7s
                &.active path
                        stroke-dashoffset: 0
            &--slovenia
                left: 44.5%
                top: 72.5%
                path
                    stroke-dasharray: 480,480
                    stroke-dashoffset: -480
                    transition: 0.7s
                &.active path
                    stroke-dashoffset: 0
            &--spain
                left: 13%
                top: 87%
                svg
                    right: 8%
                    width: 55%
                path
                    stroke-dasharray: 490,490
                    stroke-dashoffset: -490
                    transition: 0.7s
                &.active path
                    stroke-dashoffset: 0
            &--uk
                left: 15%
                top: 57%
                path
                    stroke-dasharray: 200,200
                    stroke-dashoffset: 200
                    transition: 0.7s
                &.active path
                        stroke-dashoffset: 0
            &--netherlands
                left: 29%
                top: 57%
                path
                    stroke-dasharray: 490,490
                    stroke-dashoffset: 490
                    transition: 0.7s
                &.active path
                        stroke-dashoffset: 0
            &--austria
                left: 45%
                top: 68%
                path
                    stroke-dasharray: 490,490
                    stroke-dashoffset: 490
                    transition: 0.7s
                &.active path
                        stroke-dashoffset: 0
            &--italy
                left: 40%
                top: 80%
                path
                    stroke-dasharray: 540,540
                    stroke-dashoffset: 540
                    transition: 0.7s
                &.active path
                        stroke-dashoffset: 0
            &--france
                left: 23%
                top: 72%
                path
                    stroke-dasharray: 470,470
                    stroke-dashoffset: 470
                    transition: 0.7s
                &.active path
                        stroke-dashoffset: 0
            &--russia
                left: 85%
                top: 55%
                path
                    stroke-dasharray: 700,700
                    stroke-dashoffset: 700
                    transition: 0.7s
                &.active path
                        stroke-dashoffset: 0
        &__item
            position: absolute
            top: 40px
            left: 0
            width: 240px
            min-height: 140px
            height: auto
            box-shadow: 0px 4px 24px rgba(9, 20, 41, 0.6)
            border-radius: 8px

            background: #fff
            opacity: 0
            left: 200%
            transition: left 0s linear 0.3s, opacity 0.3s ease-out 0s
            +max-screen($breakpoint-md)
                top: auto
                bottom: 0
                right: 200%
                left: auto
            +max-screen($breakpoint-sm)
                bottom: -80px
            &.active
                opacity: 1
                left: -23px
                transition: left 0s linear 0s, opacity 0.3s ease-out 0s
                +max-screen($breakpoint-md)
                    left: auto
                    right: 0
            p
                padding: 25px
                padding-bottom: 16px
            &__notice
                padding: 15px 20px
                padding-top: 0
                display: block
        &__wrapper
            margin-right: 22px
            width: 100%
            max-width: 674px
            img
                width: 100%
                height: auto
            
    &__prof
        position: absolute
        right: 0
        top: 0
        width: 300px
        max-width: 35%
        +max-screen($breakpoint-md)
            position: relative
            width: 100%
            max-width: 100%
            padding-top: 30px
        &__stat
            margin-top: 15px
            border-radius: 8px
            background: transparentize($color-blue-grey, 0.4)
            box-shadow: 0px 4px 24px rgba(9, 20, 41, 0.6)
            padding: 14px 30px
            &__txt
                display: flex
                align-items: center
                justify-content: space-between
                +max-screen($breakpoint-md)
                    justify-content: flex-start
                &__big
                    font-size: 50px
                    line-height: 1em
                    font-weight: 700
                    margin-right: 25px
                    span
                        opacity: 0.6
        .stat-bar
            padding-top: 25px
        .stat-bar__item__bar
            background-color: transparentize(#fff, 0.9)
    &__delay
        padding-top: 20px
        +max-screen($breakpoint-md)
            padding-top: 40px

        &__title
            padding-left: 270px
            +max-screen($breakpoint-xl)
                padding-left: 0
        &__content
            display: flex
            align-items: center
            +max-screen($breakpoint-xl)
                flex-wrap: wrap
        &__women
            width: 190px
            min-width: 190px
            margin-right: 80px
            +max-screen($breakpoint-xl)
                width: 100%
                margin-right: 0
                max-width: 100%
                display: flex
                align-items: center
                padding-top: 20px
                text-align: left
            +max-screen($breakpoint-md)
                width: 100%
                align-items: flex-start
            &__img
                width: 55px
                height: auto
                +max-screen($breakpoint-xl)
                    margin-right: 25px
            &__title
                padding-top: 16px
                +max-screen($breakpoint-xl)
                    padding-top: 0
                span
                    display: block
                    padding-bottom: 8px
            &__text
                padding-top: 15px
                opacity: 0.6
                max-width: 164px
                margin: auto
                +max-screen($breakpoint-xl)
                    margin-left: 0
                +max-screen($breakpoint-md)
                    max-width: 100%
        &__stat
            width: 100%
            display: flex
            align-items: flex-end
            justify-content: center
            margin: 0 -25px
            +max-screen($breakpoint-sm)
            +max-screen($breakpoint-md)
                margin: 0 -5px
            &__item
                padding: 25px
                padding-bottom: 0
                +max-screen($breakpoint-md)
                    max-width: 25%
                    padding: 5px
                    padding-bottom: 0
                +max-screen($breakpoint-sm)
                    width: 50%
                    max-width: 50%
                    padding: 15px 5px
                    padding-bottom: 0
                &:nth-child(1)
                    +max-screen($breakpoint-md)
                        max-width: 22%
                        width: 22%
                    .diagnosis__delay__stat__item__inner
                        width: 93px
                        +max-screen($breakpoint-md)
                            max-width: 100%
                            width: 100%
                    
                &:nth-child(2)
                    +max-screen($breakpoint-md)
                        max-width: 24%
                        width: 24%
                    .diagnosis__delay__stat__item__inner
                        width: 100px
                        +max-screen($breakpoint-md)
                            max-width: 100%
                            width: 100%
                    .diagnosis__delay__stat__item__body img
                        opacity: 0.8
                &:nth-child(3)
                    +max-screen($breakpoint-md)
                        max-width: 26%
                        width: 26%
                    .diagnosis__delay__stat__item__inner
                        width: 112px
                        +max-screen($breakpoint-md)
                            max-width: 100%
                            width: 100%
                    .diagnosis__delay__stat__item__body img
                        opacity: 0.6
                &:nth-child(4)
                    +max-screen($breakpoint-md)
                        max-width: 28%
                        width: 28%
                    .diagnosis__delay__stat__item__inner
                        width: 125px
                        +max-screen($breakpoint-md)
                            max-width: 100%
                            width: 100%
                    .diagnosis__delay__stat__item__body img
                        opacity: 0.4
                &__inner
                    position: relative
                    display: flex
                    flex-direction: column
                    align-items: center
                    justify-content: flex-end
                    +max-screen($breakpoint-sm)
                        margin: auto
                &__body
                    order: 2
                    width: 100%
                    img
                        width: 100%
                &__head
                    position: relative
                    width: 90px
                    margin-bottom: 17px
                    +max-screen($breakpoint-md)
                        width: 100%
                    img
                        width: 100%
                        height: auto
                    p
                        position: absolute
                        width: 100%
                        top: 45%
                        left: 50%
                        transform: translate3d(-50%,-50%,0)
                        padding: 10px
                &__age
                    position: absolute
                    bottom: 0
                    left: 0
                    width: 100%
                    text-align: center


        