.admin-bar
    .axspa-nav--horizontal
        top: 32px
.axspa-nav
    top: 85px
    left: calc((100vw - 1110px) / 2) 
    z-index: 201
    max-width: 230px
    transition: 0.2s all
    +max-screen($breakpoint-lg)
        display: none
    +min-screen(1620px)
        left: calc((100vw - 1290px) / 2) 
    & + section
        +max-screen($breakpoint-lg)
            margin-top: 0 !important
    & > .row
        flex-direction: column
    &--horizontal
        width: 100%
        top: 0
        left: 0
        background-color: #E6E8ED
        padding: 0 15px
        max-width: 100%
        & > .row
            flex-direction: row
            align-items: center
            justify-content: space-between
        .axspa-nav
            &__item
                padding: 24px 10px
                margin-bottom: 0
                font-size: 16px
                color: $font-color
                font-weight: 700
                margin-right: 40px
                &.active
                    color: $font-color
                    &::before
                        background: transparent
                        background-color: $color-grey
                        height: 5px 
                &:last-child
                    &::before
                        display: block
                &::before
                    bottom: -2px
                    left: 15%
                    width: 70%
                    height: 5px
                    background-color: transparent
                &::after
                    display: none
    &:not(.axspa-nav--horizontal)
        &::before
            // content: ""
            // height: calc(100% - 20px)
            // display: block
            // width: 1px
            // position: absolute
            // left: 3px
            // background: $color-grey
            // top: 9px
        .axspa-nav
            &__item
                &.active
                    font-size: 16px
                    font-weight: 700  
                &::before
                    content: "" 
    &__item
        position: relative
        color: $color-grey
        font-size: 12px
        font-family: $font-family-1
        background-color: transparent
        margin-bottom: 18px
        padding: 0
        padding-left: 21px
        border: 0
        transition: .2s all
        &:first-child
            &.active
                &::before
                    height: 50px
            &::before
               height: 45px 
        &:last-child
            &::after
                bottom: -3px
                transform: translate(0, 0)
                top: unset
            &::before
                display: none
        // &:nth-last-child(2)
        //     &::before
        //         height: 40px
        &::before
            content: ""
            display: block
            position: absolute
            left: 3px
            bottom: -60px
            transform: translateY(-50%)
            height: 43px
            width: 1px
            background-color: $color-grey
            transition: .2s all
        &::after
            content: ""
            display: block
            position: absolute
            left: 0
            top: 50%
            transform: translateY(-50%)
            height: 7px
            width: 7px
            border-radius: 50%
            background-color: $color-grey
            transition: .2s all
            z-index: 10
        &:hover
            color: $color-primary
        &.active
            background-color: transparent
            color: $color-primary
            &::after
                background-color: $color-primary
            &::before
                height: 55px
                background-color: transparent
                background: repeating-linear-gradient( to bottom, $color-primary, $color-primary 1px, transparent 2px, transparent 2px, transparent 3px)

