.treatment
    &__notice
        position: relative
        border-radius: 8px
        padding: 25px
        padding-left: 150px
        &__img
            position: absolute
            left: 25px
            bottom: 0
            width: 20%
            height: auto
        &__text
            position: relative
            z-index: 2
    &__stat
        padding-top: 70px
        &__list
            display: flex
            flex-wrap: wrap
            margin: -22px
            padding-top: 48px
        &__item
            padding: 22px
            width: 25%
        &__text
            padding-top: 22px
            &__notice
                opacity: 0.8